<%= form_with model: @todo, local: true do |f| %>

    <%= f.label :description, "Descripcion" %>
    <%= f.text_field :description %>
    <p> <%= f.check_box :completed %> </p>
    <%= f.submit "Enviar" %>
    <% end %>